@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.btn {
  @apply hover:bg-neutral-100 rounded-full grid place-items-center w-12 h-12;
  svg, path {
    $light: hsl(0, 0%, 25%);
    color: $light;
    stroke: $light;
  }
}
.btn2 {
  @apply hover:bg-neutral-100 rounded-full place-items-center w-12 h-12;
  svg, path {
    $light: hsl(0, 0%, 25%);
    color: $light;
    stroke: $light;
  }
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}
